<i-if test="state.loading">
    Loading...
</i-if>
<i-else>

    <div class="{{css['flex']}}">
        <div class="{{css['flex-left']}}">&nbsp;&nbsp;</div>

        <div :class="css['flex-center']" style="justify-content: center">
            <summary
                    :total="summary.total"
                    :done="summary.done"
                    :important="summary.important">
            </summary>

            <filter-panel
                    :text="state.filter"
                    :done="state.done"
                    :important="state.important"
                    :all="state.all"
                    :change-text="changeFilter"
                    :toggle-done="toggleDone"
                    :toggle-important="toggleImportant"
                    :toggle-all="toggleAll"
            >
            </filter-panel>
            <hr/>

            <div class="{{css['grid']}}">
                <i-for test="item of currentItems">
                    <task :data-source="dataSource" :item="item"></task>
                </i-for>
            </div>
            <hr/>
            <add-task-form :data-source="dataSource"></add-task-form>
        </div>
        <div class="{{css['flex-right']}}">&nbsp;</div>

    </div>
</i-else>
