<div style="width:250px; padding-bottom:50px;">
    <div style="text-align: center; height:120px">
        <img :src="props.ware.image" width="100px"><br/>
    </div>
    <div style="text-align:center">
        <router-link :ware="props.ware"
                     :normal-class="css['normal']"
                     :active-class="css['active']"
                     :hover-class="css['hover']" :url="'/ware/'+props.ware.id" :title="'Каталог'">
            {{props.ware.title}}</router-link>
    </div>
    <div style="text-align: center">
        <b>{{props.ware.price}} руб</b>
        <button #button style="margin:5px;" @click="onAddToBasket">В корзину</button>
    </div>
</div>
